@model IEnumerable<NewProject1.Models.Rate>

<table class="table">
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Score)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Comment)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Time)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> 
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@section Scripts{
<script src="~/js/Search.js"></script>
<script type="text/html" , id="tamplate">
	<tr>
		<td>
			{name}
		</td>
		<td>
			{score}
		</td>
		<td>
			{comment}
		</td>
		<td>
			{time}
		</td>
		<td>
			<a asp-action="Edit" asp-route-id="{id}">Edit</a> 
			<a asp-action="Details" asp-route-id="{id}">Details</a> 
			<a asp-action="Delete" asp-route-id="{id}">Delete</a>
		</td>
	</tr>
</script>
}
